Repository SNU-ARC/flashneuron, changes with the owners that CODEOWNERS names for each.
All owners: @glaringlee, @fmassa, @soumith, @ezyang, @albanD, @soulitzer, @jiayisuse, @osalpekar, @lw, @beauby, @mrshenli, @zhaojuanmao, @pritamdamania87, @rohan-varma, @mingzhe09088

FN_copy ckpt
  aten/src/ATen/native/cuda/Copy.cu
  aten/src/ATen/native/cuda/TensorFactories.cu
  aten/src/ATen/native/cuda/flashneuron.cu
  tools/autograd/gen_autograd_functions.py
  tools/autograd/gen_variable_type.py
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/saved_variable.cpp
Owners: @albanD, @soulitzer

unnecessary param
  aten/src/ATen/Context.cpp
  aten/src/ATen/Context.h
  aten/src/ATen/native/TensorConversions.cpp
  aten/src/ATen/native/cuda/AdaptiveMaxPooling2d.cu
  aten/src/ATen/native/cuda/Dropout.cu
  aten/src/ATen/native/cuda/Resize.cuh
  aten/src/ATen/native/cuda/flashneuron.cu
  aten/src/ATen/native/cuda/flashneuron.h
  tools/autograd/gen_python_functions.py
  tools/autograd/gen_variable_type.py
  torch/csrc/api/src/nn/module.cpp
  torch/csrc/api/src/nn/modules/container/functional.cpp
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/saved_variable.cpp
  torch/csrc/cuda/Module.cpp
  torch/cuda/__init__.py
Owners: @albanD, @soulitzer, @glaringlee

relu auto codegen
  aten/src/ATen/native/cuda/Copy.cu
  aten/src/ATen/native/cuda/flashneuron.cu
  tools/autograd/gen_variable_type.py
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/saved_variable.cpp
Owners: @albanD, @soulitzer

timer, drop minor
  aten/src/ATen/native/cuda/flashneuron.cu
  aten/src/ATen/native/cuda/flashneuron.h
  tools/autograd/gen_autograd_functions.py
  tools/autograd/gen_python_functions.py
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/saved_variable.cpp
  torch/csrc/autograd/saved_variable.h
Owners: @albanD, @soulitzer

new tid mapping
  aten/src/ATen/Context.cpp
  aten/src/ATen/Context.h
  aten/src/ATen/native/MetaTensor.cpp
  aten/src/ATen/native/TensorConversions.cpp
  aten/src/ATen/native/TensorFactories.cpp
  aten/src/ATen/native/TensorShape.cpp
  aten/src/ATen/native/cuda/AdaptiveMaxPooling2d.cu
  aten/src/ATen/native/cuda/Copy.cu
  aten/src/ATen/native/cuda/Dropout.cu
  aten/src/ATen/native/cuda/TensorFactories.cu
  aten/src/ATen/native/cuda/flashneuron.cu
  aten/src/ATen/native/cuda/flashneuron.h
  c10/core/TensorImpl.h
  tools/autograd/gen_autograd_functions.py
  tools/autograd/gen_python_functions.py
  tools/autograd/gen_variable_type.py
  tools/autograd/templates/VariableType.cpp
  torch/csrc/autograd/engine.cpp
  torch/csrc/autograd/saved_variable.cpp
  torch/csrc/autograd/saved_variable.h
  torch/csrc/cuda/Module.cpp
  torch/cuda/__init__.py
Owners: @albanD, @soulitzer

asdf
  .gitmodules
Owners: none

third libraries
  .gitmodules
Owners: none

third libraries
  third_party/BUILD
  third_party/LICENSES_BUNDLED.txt
  third_party/README.md
  third_party/build_bundled.py
  third_party/cpuinfo.BUILD
  third_party/eigen.BUILD
  third_party/fmt.BUILD
  third_party/foxi.BUILD
  third_party/gloo.BUILD
  third_party/ideep.BUILD
  third_party/miniz-2.0.8/BUILD.bazel
  third_party/miniz-2.0.8/ChangeLog.md
  third_party/miniz-2.0.8/LICENSE
  third_party/miniz-2.0.8/examples/example1.c
  third_party/miniz-2.0.8/examples/example2.c
  third_party/miniz-2.0.8/examples/example3.c
  third_party/miniz-2.0.8/examples/example4.c
  third_party/miniz-2.0.8/examples/example5.c
  third_party/miniz-2.0.8/examples/example6.c
  third_party/miniz-2.0.8/miniz.c
  third_party/miniz-2.0.8/miniz.h
  third_party/miniz-2.0.8/readme.md
  third_party/mkl-dnn.BUILD
  third_party/mkl.BUILD
  third_party/mkl_headers.BUILD
  third_party/onnx.BUILD
  third_party/sleef.BUILD
  third_party/sleef.bzl
  third_party/substitution.bzl
  third_party/tbb.BUILD
  third_party/tbb.patch
  third_party/tensorpipe.BUILD
  third_party/valgrind-headers/README.md
  third_party/valgrind-headers/callgrind.h
  third_party/valgrind-headers/valgrind.h
Owners: none

module config
  .gitmodules
Owners: none

git ignore
  .gitignore
Owners: none

Adding tarfile member sanitization to extractall()
  caffe2/python/trt/test_trt.py
  scripts/model_zoo/update-caffe2-models.py
  scripts/model_zoo/update-models-from-caffe2.py
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

/docs/cpp @glaringlee
/torch/csrc/api/ @glaringlee
/test/cpp/api/ @glaringlee
/torch/utils/cpp_extension.py @fmassa @soumith @ezyang

# Not there to strictly require the approval, but to be tagged as a reviewer
# on the PRs to push them into a high priority inbox.
/torch/csrc/autograd/ @albanD @soulitzer
/torch/autograd/ @albanD @soulitzer
/tools/autograd/ @albanD @soulitzer

# Tensorpipe RPC Agent.
/torch/csrc/distributed/rpc/tensorpipe_agent.cpp @jiayisuse @osalpekar @lw @beauby
/torch/csrc/distributed/rpc/tensorpipe_agent.h @jiayisuse @osalpekar @lw @beauby

# Distributed package
# This list is mostly if you'd like to be tagged as reviewer, feel free to add
# or remove yourself from it.
/torch/lib/c10d/ @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @mingzhe09088
/torch/csrc/distributed/ @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @mingzhe09088
/torch/distributed/ @mrshenli @zhaojuanmao @pritamdamania87 @rohan-varma @mingzhe09088

# Distributed tests
# This list is mostly if you'd like to be tagged as reviewer, feel free to add
# or remove yourself from it.
/test/distributed @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma
/torch/testing/_internal/distributed @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma
